<%= form_tag "/unfollow", method: :delete , remote: true do %>
  <div><%= hidden_field_tag :user_id, @user.id %></div>
  <%= submit_tag "Unfollow", data: {disable_with: 'Unfollow...'}, class: "btn btn-d" %>
<% end %>